
body{
 font-family:'playfair Display', serif;
 font-family:'Robot', sans-serif;
 width: 100%;
 height: auto;

}
.headh1 h1{
 width: 100%;
 color:rgb(245, 46, 7);
 text-align:initial;
}
.btn{
 width: 100%;
 padding:15px 15px;
 background-color:rgba(26, 237, 30, 0.989);
 color:rgb(21, 20, 20);
 text-decoration:none;
 border-radius: 10px;
 margin-left: 390px;
 transition: all 0.1s ease;
 }
.btn:hover{
 transform: scale(0.95);
}
.btn-abt{
 padding:10px 10px;
 background-color:rgb(23, 213, 23);
 color:rgb(21, 20, 20);
 text-decoration:none;
 border-radius: 8px;
 transition: all 0.1s ease;
 }
.btn-abt:hover{
  transform: scale(0.95);
}
.btnkm{
 padding:10px 10px;
 background-color:rgb(23, 213, 23);
 color:rgb(21, 20, 20);
 text-decoration:none;
 border-radius: 8px;
 transition: all 0.1s ease;
}
.btnkm:hover{
 transform: scale(0.95);
}

.container-fluid{
 height: 80px;
 width: 100%;
 background-color:rgb(249, 201, 11);
 align-items:center;
 display:flex;
 border-radius: 10px;
}
.container-fluid h1{
 color:rgb(115, 5, 5);
 margin-left:50px;
 font-style:inherit;
 text-decoration: none;
 display: inline-block;
 font-weight: 600;
}
.carousel-item img {
width: 100%;
height: auto;
  object-fit: cover;
  position: relative;
}
.container-fluid {
 color: bisque;
}

#list{
 color: black;
 text-decoration: none;
 font-size:xx-large;
 margin-left: 50px;
 padding: 10px 10px;
 display: inline-block;
 
}
#ftlist{
 margin-bottom: 150px;
 margin-left: 90px;
 margin-top: 90px;
 list-style:armenian;
 text-align:center;
 text-size-adjust:initial ;
 text-decoration: none;
 font-size: x-large;
}
#ddlist{
 color: black;
padding: 16px 16px;
text-decoration: none;
display: block;
font-size:x-large;
background-color:rgb(251, 206, 28);
}
#catlist{
 text-decoration: none;
 color: black;
 display: inline-block;
 font-size: xx-large;
}
.btnnav{
 padding:10px 10px;
 background-color:rgba(26, 237, 30, 0.989);
 color:rgb(21, 20, 20);
 text-decoration:none;
 border-radius: 10px;
 margin-left: 20px;


}

.btnnav:hover{
 background-color:rgb(79, 165, 29);
 color:rgb(10, 10, 11);
}


#body{
 font-family:'playfair Display', serif;
 font-family:'Robot', sans-serif;
}
#about{display: flex}
#about .abt-cont{
 width: 100%;
  height: auto;
 display:inline-block;
 margin-left:100px;
 margin-top: 30px;
 margin-right: 100px;
 object-fit:cover;

}
#about .abt-img img{
 position:relative;
 width: 100%;
  height: auto;
 object-fit:cover;
 margin-top: 50px;
 
}

}
#footer{
 margin-top:80px;
 height:580px;
 width:100%;
 background-color:rgb(6, 3, 66);
 display:flex;
}
#footer .brand{
 padding:20px;
height:650px;
width:300px;
margin-left:80px;
}
#footer .brand .logo{
 height:200px;
 width:200px;
 object-fit:cover;
}
#footer .brand .logo img{
 width: 100%;
  height: auto;
 object-fit:cover;
 margin-top: 30px;
}
#footer .brand{
 text-align: left;
 color:white;
 
}
#footer .brand h1{
 font-size:40px;
 font-weight:200;
 margin-top: 20px;
}
#footer .brand h2{
 font-size:40px;
 font-weight:200;
 margin-top: 60px;
 margin-left: 50px;
 text-align: center;
}
#footer .brand p{
 text-align:left;
 color:white;
 font-size:14px;
 font-weight:200;
}

#footer .brand a{
 color:rgb(239, 239, 245);
 text-decoration: none;
}
#footer .brand a:hover{
 color:lightgreen;
 
}
#footer .brand input{
 margin-top:90px;
 padding:12px 20px;
 margin-bottom: 40px;
 border-radius:8px;
 width:100%;
 margin-left: 300px;
}
#footerlast .cr{
 background-color: rgb(3, 3, 3);
 text-align: center;
 padding:12px 20px;
 color: white;
}
/* @media screen and (max-width: 600px) {
  h1{
    font-size:36px;
   line-hight:50px
  } */
}
